/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Estilos do Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ECBEFF; /* Fundo rosa */
  padding: 20px;
  height: 146px;
  width: auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.menu-button {
  font-size: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.brand {
  text-align: center;
  flex: 1;
}

.brand-title {
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
}

.brand-subtitle {
  font-family: 'Italianno', serif;
  font-size: 16px;
  font-style: italic;
  color: #000000;
  text-align: center;
  margin-top: 5px;
}

.cart {
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  margin-top: 200px;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.sidebar ul li a:hover {
  color: #ff79ed;
}

/* Barra de Navegação */
.nav-bar {
  display: flex; /* Alinha os itens em linha */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  background-color: black; /* Fundo preto */
  color: white; /* Texto branco */
  padding: 10px;
  border-top: 2px solid #eac6f2; /* Linha lilás no topo */
}

.navbar-content {
  display: flex; /* Itens em linha */
  gap: 20px; /* Espaçamento entre os itens */
  font-size: 16px;
  justify-content: center; /* Alinhamento centralizado */
}

.navbar-item {
  display: flex; /* Ícone e texto lado a lado */
  align-items: center;
  font-size: 14px;
}

.navbar-item i {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
  color: #ff79ed; /* Ícones com cor lilás */
}
